
@use "../util/" as *;

.setup-persona-information{
    .form-floating label{
        left: 31px;
    }
    .text-area{
        height: 137px !important;
        border-radius: 20px !important;
        &:focus{           
            height: 137px !important;
        }
    }
    .form-control{
        padding: 10px 38px;
    }
}