@use "../util/" as *;

$card-details-conetnt-bg: #f7faff;
$border-bg:#DCE2EE;

.signle-card-preview {
  padding: 75px 58px;
  .image-area {
    display: flex;
    gap: 20px;

    .front-logo-wrapper {
      padding: 60px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 9px;
      width: 50%;
      overflow: hidden;
      box-shadow: $large-spreading-shadow;
      .front-logo {
        max-width: 176px;

        img {
          width: 100%;
        }
      }
      .card-name-area {
        position: absolute;
        bottom: 10px;
        left: 10px;
        .card-name {
          font-size: 32px;
          line-height: 26px;
          color: $white;
          margin-bottom: 0;
        }
        .sm-text {
          font-size: 15px;
          line-height: 26px;
          margin-bottom: 0;
          color: $white;
        }
      }

      .icon {
        position: absolute;
        right: 10px;

        svg {
          font-size: 48px;
          transform: rotate(90deg);
          color: $white;
        }
      }
    }

    .back-logo-wrapper {
      width: 50%;
      box-shadow: $large-spreading-shadow;
      padding: 40px 30px 10px;
      border-radius: 9px;
      display: flex;
      gap: 8px;
      .info-container {
        width: 70% !important;
        .name {
          font-size: 25px;
          line-height: 26px;
          color: $white;
          margin-top: 30px;
        }
        .position {
          font-weight: 600;
          font-size: 20px;
          line-height: 26px;
          color: $white;
          margin-bottom: 0;
        }
        .phone {
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          color: $white;
        }
      }
      .back-logo {
        
        img {
          max-width: 156px;
        }
      }

      .qr-code {
        display: flex;
        align-items: center;
        height: 100%;
        width: 30%;
        justify-content: center;
      }
    }
  }

  .card-details {
    margin-top: 65px;
    box-shadow: $large-spreading-shadow;
    .header {
      background-color: $white;
      padding: 23px 34px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      border-bottom:1px solid $border-bg;
      p {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 26px;
        line-height: 26px;
        color: $blue-grey;
      }
      svg {
        font-size: 24px;
        transition: all 0.4s linear;
      }
    }

    .card-details-content {
      padding: 13px 62px 50px 65px;
      background-color: $card-details-conetnt-bg;
     
      transition: all .4s linear;
      .details-container {
        display: flex;
        // flex-wrap: wrap;
        gap: 62px;
        .single-fild {
          width: 100%;
          margin-bottom: 13px;
          p {
            margin-bottom: 0;
            color: $blue-grey;
            font-weight: 600;
            font-size: 15px;
            line-height: 26px;
          }
          input {
            border: 1px solid #dce2ee;
            outline: none;
            background-color: $white;
            width: 100%;
            padding: 12px 20px;
          }
        }
      }
    }
  }
}
