@use "../util/" as *;
@use "sass:math";

$card-details-conetnt-bg: #f7faff;

.single-card-preview {
    --each-card-width: 350px;
    --each-card-height: auto;
    --card-bg: #{$blue-grey};
    --card-aspect-ratio: 2/1;
    --card-base:url("");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
    @mixin card-common {
        border-radius: 20px;
        width: 350px;
        aspect-ratio: 4/2.54;
        height: auto;
        position: relative;
        z-index: 1;
        color: white;
        background:var(--card-base);
        overflow: hidden;
        @include min-lg {
            width: 450px;
        }
    }
    @include min-lg {
        justify-content: space-between;
        --each-card-width: 450px;
    }
    @include min-xxl {
        justify-content: center;
        column-gap: 20px;
    }

    .front-side {
        @include card-common();

        .logo,
        .one-card-logo,
        .icon {
            position: absolute;
        }

        .one-card-logo {
            bottom: 15px;
            margin-bottom: 0px;
            left: 15px;
            img{
                width: 50px;
            }
        }
        .icon {
            right: 10px;
            top: 50%;
            transform: translate(0, -50%) rotate(90deg);
            .iconify {
                font-size: 30px;
            }
        }

        .logo {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 21%;
            img {
                width: 100%;
                height: 100%;
                transform: scale(var(--logo-scale));
            }
        }
    }
    .back-side {
        @include card-common();
        .logo-and-info {
            display: flex;
            flex-flow: column;

            .logo {
                width: 100%;
                aspect-ratio: 3/2;
                position: relative;
                --logo-scale: 1;
                img.logo__logo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(var(--logo-scale));
                    width: 39%;
                }
            }
            .info {
                padding: 5px 10px 10px 10px;
                display: flex;
                flex-flow: column;
                * {
                    margin-bottom: 10px;
                }
                &.center {
                    align-items: center;
                }
                p {
                    line-height: 22px;
                    &.name {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

.card-details {
    margin-top: 65px;
    .header {
        background-color: $white;
        padding: 20px 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        p {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 26px;
            line-height: 26px;
            color: $blue-grey;
        }
        svg {
            font-size: 24px;
            transition: all 0.4s linear;
        }
    }

    .card-details-content {
        background-color: $card-details-conetnt-bg;
        box-shadow: $large-spreading-shadow;
        max-height: 0px;
        overflow: hidden;
        transition: 0.5s;
        .details-container {
            display: flex;
            // flex-wrap: wrap;
            gap: 62px;
            .single-fild {
                width: 100%;
                margin-bottom: 13px;
                p {
                    margin-bottom: 0;
                    color: $blue-grey;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 26px;
                }
                input {
                    border: 1px solid #dce2ee;
                    outline: none;
                    background-color: $white;
                    width: 100%;
                    padding: 12px 20px;
                }
            }
        }
    }
}
