@use "../util" as *;
$light-gray: #dce2ee;
.multiple-design-section {
    position: relative;
    padding: 115px 0 99px;
    background-color: $light-gray;
    .top-icon-area {
        position: absolute;
        left: 50%;
        top: 0;
        width: 147px;
        height: 147px;
        border: 2px solid $blue-grey;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: $white;
        top: -55px;
        transform: translateX(-50%);
        img {
            width: 100%;
        }
    }
    h3 {
        font-size: 51px;
        color: $blue-grey;
        text-align: center;
        margin-bottom: 89px;
    }
    .image-area {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 85px;
        img {
            max-width: 210px;
            width: 100%;
            //   background-color:  $blue-grey;
            &:nth-child(2) {
                margin-top: 45px;
            }
            &:nth-child(3) {
                margin-top: 90px;
            }
        }
    }
    .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 38px;
        margin-top: 38px;
        .icon {
            width: 74px;
            height: 74px;
            background-color: $primary-300;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            svg {
                font-size: 25px;
                color: $white;
            }
        }
    }
}

.video-explainer-section {
    position: relative;
    padding: 115px 0 99px;
    background-color: $white;
    padding: 35px;
    .top-icon-wrapper {
        display: flex;
        align-items: center;
        justify-self: unset;
    }
    .top-icon-area {
        width: 147px;
        height: 147px;
        border: 2px solid $blue-grey;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: $white;
        top: -55px;
        transform: translateX(-50%);
        img {
            width: 100%;
        }
    }
    .video-frame {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%;
        /* 16:9 Aspect Ratio */
        .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}

// OneCard.jsx file sass
#whyOneCart {
    padding: 20px 0 70px;
    .oneCart_top {
        text-align: center;
        margin-bottom: 80px;
        img {
            width: 100px;
            padding-bottom: 6px;
        }
        h2 {
            color: black;
        }
    }
    .oneCart_slider {
        padding-bottom: 130px;
        .content_area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 25px;
            background: $white;
            padding: 10px 20px;
            border-radius: 6px;
            border: 1px solid $grey-200;
            margin-bottom: 20px;
            cursor: pointer;
            &:first-child {
                margin-right: -25px;
                margin-left: 25px;
                box-shadow: 0 0 10px 1px $grey-200;
            }
            p {
                margin-bottom: 0;
            }
        }
        .image_area {
            text-align: right;
            img {
                height: 530px;
            }
        }
    }
}

// Refference.jsx file sass
#refference_area {
    background: #85A0BF;
    position: relative;
    z-index: -1;
    overflow: hidden;
    padding: 80px 0;
    &::before {
        position: absolute;
        content: "";
        z-index: 1;
        bottom: -61px;
        right: -43px;
        width: 120px;
        height: 150px;
        background: url(../assets/images/round.png) no-repeat;
        background-size: contain;
    }
    .refference_content {
        h2 {
            color: #fff;
            padding-bottom: 15px;
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 62px;
            line-height: 74px;
            letter-spacing: 1px;
            word-spacing: 5px;
        }
        p {
            color: #fff;
            padding-bottom: 25px;
        }
        .refferenceBtn {
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            background-color: #255ED1;
            border-radius: 5px;
            padding: 8px 20px;
            cursor: pointer;
        }
    }
    .refference_img {
        position: relative;
        z-index: 1;
        text-align: center;
        &::before {
            position: absolute;
            content: "";
            width: 400px;
            height: 650px;
            z-index: -1;
            top: 0;
            left: -20px;
            background: url(../assets/images/Vector1.png) no-repeat;
            background-size: contain;
        }
        img {
            width: 270px;
            margin-bottom: -80px;
        }
    }
}

// AboutUS.jsx file sass
#about_area {
    padding: 30px 0 20px;
    .aboutTop {
        text-align: center;
        padding-bottom: 60px;
        img {
            width: 100px;
            padding-bottom: 10px;
        }
    }
    .slider_cart {
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 0 10px #ddd;
        padding: 15px 25px;
        margin-bottom: 100px;
        .cartInfo {
            display: flex;
            align-items: center;
            column-gap: 20px;
            padding-bottom: 10px;
            .userIcon {
                font-size: 42px;
            }
            .personalInfo {
                h6 {
                    font-size: 16px;
                    .rating {
                        font-size: 11px;
                        color: #FFD178;
                        background: #57697D;
                        border-radius: 40px;
                        padding: 1px 7px;
                    }
                }
                .starIcon {
                    color: #FFA901;
                }
            }
        }
    }
}