@use  "../util" as *;

#order_validate {
    background: $primary-50;

    .validateInner {
        .steper_section {
            background: none;
            padding: 4rem 0;
            .section-wrapper {
                display: flex;
                padding: 24px 0;
                justify-content: space-between;
          
                .single-steps-wrapper {
                    position: relative;
                    .single-steps {
                        flex-direction: column;
                        display: flex;
                        align-items: center;
                        .img-wrapper {
                            display: flex;
                            flex-shrink: 0;
                            .active {
                                background-color: $primary-400 !important;
                            }
                            .finished{
                                background-color: $blue-grey;
                            }
                            div {
                                color: $white;
                                background-color: $grey-200;
                                cursor: pointer;
                                width: 50px;
                                height: 50px;
                                display: flex;
                                z-index: 1;
                                align-items: center;
                                border-radius: 50%;
                                justify-content: center;
    
                                svg {
                                    font-size: 23px;
                                }
                            }
                    }
                    .label {
                        margin-top: 16px;
                        text-align: center;
                        width: 100%;
                        opacity: 0.87;
                    }
    
                    .setpText {
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0.02em;
                        color: $blue-grey;
                    }
                }
                        .hr-line {
                        left: calc(-50% - 24px);
                        right: calc(50% + 20px);
                        position: absolute;
                        flex: 1 1 auto;
                        border: 0;
                        height: 2px;
                        border-radius: 1px;
                        background-color: $primary-100;
                        top: 22px;
                    }
               }
            }
        }

        .validateImg {
            img {
                width: 100%;
                margin-right: 20px;
            }
            @include sm {
                margin: 0 0 30px 0;
            }
            @include xsm {
                margin: 0 0 30px 0;
            }
        }

        .validateForm {
            padding-bottom: 50px;

            .title {
                text-decoration: underline;
                margin-bottom: 35px;
            }

            .subTitle {
                margin-bottom: 20px;
            }

            .form-floating {
                label {
                    padding: 10px 0.75rem;
                    color: $blue-grey;
                }
            }

            .form-control {
                height: calc(2.5rem + 2px);
            }

            .unFatty-input {
                border-width: 2px;
            }
        }
    }
}



