@use "../util/" as *;

.select-card-base-section {
    .my-btn {
        background-color: $primary-700;
        color: $white;
        border-radius: 20px;
        width: 170px;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: center;
    
        img {
          width: 100%;
        }
      }
}