#about_area {
    padding: 20px 0;
}

#about_area .aboutTop {
    text-align: center;
    padding-bottom: 60px;
}

#about_area .aboutTop img {
    width: 100px;
    padding-bottom: 10px;
}

#about_area .slider_cart {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px #ddd;
    padding: 15px 25px;
    margin-bottom: 100px;
}

#about_area .slider_cart .cartInfo {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 10px;
}

#about_area .slider_cart .cartInfo .userIcon {
    font-size: 42px;
}

#about_area .slider_cart .cartInfo .personalInfo h6 {
    font-size: 16px;
}

#about_area .slider_cart .cartInfo .personalInfo h6 .rating {
    font-size: 11px;
    color: #FFD178;
    background: #57697D;
    border-radius: 40px;
    padding: 1px 7px;
}

#about_area .slider_cart .cartInfo .personalInfo .starIcon {
    color: #FFA901;
}


/* custom pagination slider css */

#about_area .swiper-horizontal>#about_area .swiper-pagination-bullets,
#about_area .swiper-pagination-bullets.swiper-pagination-horizontal,
#about_area .swiper-pagination-custom,
#about_area .swiper-pagination-fraction {
    bottom: 50px !important;
    left: 0 !important;
}

#about_area .swiper-pagination-bullet-active {
    background: #85A0BF !important;
}

#about_area .swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
    border: 1px solid #85A0BF;
}

#about_area .swiper-pagination-bullet-active {
    background: #85A0BF !important;
}


/* right icon next */

#about_area .swiper {
    overflow: visible;
    padding: 0 30px;
}

#about_area .swiper-button-next {
    right: -30px;
    top: 110px;
}

#about_area .swiper-button-next:after {
    content: url(../../../../assets/images/rightArrow.png);
}


/* left icon prev */

#about_area .swiper-button-prev {
    left: -30px;
    top: 110px;
}

#about_area .swiper-button-prev:after {
    content: url(../../../../assets/images/leftArrow.png);
    cursor: pointer;
}