@use "../../util/" as *;

.select-card-base-section {
    .my-btn {
        background-color: $primary-700;
        color: $white;
        border-radius: 20px;
        width: 170px;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: center;
    
        img {
          width: 100%;
        }
      }
}
.selec_card_thumb{
  display: flex;
    width: 100%;
    max-width: 380px;
    flex-wrap: wrap;
    gap: 20px;
    img{
      padding: 5px;
      background-color: $primary-200;
      border-radius: 4px;
      cursor: pointer;
    }
}
.active-card{
  background-color: $primary-400 !important;
}