/* custom pagination slider css */

#whyOneCart .swiper-horizontal>#whyOneCart .swiper-pagination-bullets,
#whyOneCart .swiper-pagination-bullets.swiper-pagination-horizontal,
#whyOneCart .swiper-pagination-custom,
#whyOneCart .swiper-pagination-fraction {
    bottom: 140px !important;
    left: -430px !important;
}

#whyOneCart .swiper-pagination-bullet-active {
    background: #85A0BF !important;
}

#whyOneCart .swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
    background: #fff !important;
    border: 1px solid #85A0BF;
}

#whyOneCart .swiper-pagination-bullet-active {
    background: #85A0BF !important;
}


/* right icon next */

#whyOneCart .swiper-button-next {
    right: auto;
    left: 450px;
    top: 510px;
    cursor: pointer;
}

#whyOneCart .swiper-button-next:after {
    content: url(../../../assets/images/right.png);
    cursor: pointer;
}


/* left icon prev */

#whyOneCart .swiper-button-prev {
    left: 300px;
    top: 510px;
    cursor: pointer;
}

#whyOneCart .swiper-button-prev:after {
    content: url(../../../assets/images/left.png);
    cursor: pointer;
}


/* ------------------------------------------- */


/* custom pagination slider css */

#about_area .swiper-horizontal>#about_area .swiper-pagination-bullets,
#about_area .swiper-pagination-bullets.swiper-pagination-horizontal,
#about_area .swiper-pagination-custom,
#about_area .swiper-pagination-fraction {
    bottom: 50px !important;
    left: 0 !important;
}

#about_area .swiper-pagination-bullet-active {
    background: #85A0BF !important;
}

#about_area .swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
    border: 1px solid #85A0BF;
}

#about_area .swiper-pagination-bullet-active {
    background: #85A0BF !important;
}


/* right icon next */

#about_area .swiper {
    overflow: visible;
    padding: 0 30px;
}

#about_area .swiper-button-next {
    right: -30px;
    top: 110px;
}

#about_area .swiper-button-next:after {
    content: url(../../../assets/images/rightArrow.png);
}


/* left icon prev */

#about_area .swiper-button-prev {
    left: -30px;
    top: 110px;
}

#about_area .swiper-button-prev:after {
    content: url(../../../assets/images/leftArrow.png);
    cursor: pointer;
}