@use  "../../util/" as u;
$themeColor: #FFA412;
$bodyBackgroundColor: #E5E5E5;
$btnBg: #FFF4E1;
$border-stock: #FFF4E1;
$social-card-bg: #fff;
$social-card-shadow: #333E63;
$bigButtonBg: linear-gradient(to right, #FF8C00, #FF3710);

section.card1{
    background: #fff;
    margin: auto;
    max-width: 400px;
    overflow: hidden;
    border: u.$grey-200 1px solid;
    padding: 10px;
    .background-image{
        img{
            width: 100%;
        }
    }
    .about{
        padding: 0px 20px;
        .profile-img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-top: -70px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .name{
            h3{
                font-weight: bold;
                margin-bottom: 0;
            }
        }
        .nature{
            span{
                font-size: 14px;
                font-weight: 600;
                color: #5B5B5B;
            }
        }
        .career{
            display: flex;
            align-items: center;
            .yellow-border{
                background: $themeColor;
                width: 2px;
                height: 50px;
                margin-right: 5px;
            }
            .info{
                span{
                    font-size: 12px;
                    font-weight: 500;
                    display: block;
                }
            }
        }
        .tag-btns{
            display: flex;
            button{
                border: none;
                padding: 4px 12px;
                border-radius: 3px;
                font-size: 10px;
                background: $btnBg;
                margin-right: 12px;
                a{
                    text-decoration: none;
                    color: $themeColor;
                    font-weight: 500;
                }
            }
        }
    }
    .social-section{
        margin-top: 50px;
        border-radius: 24px 24px 0 0;
        background: $social-card-bg;
        box-shadow: 0px 4px 16px $social-card-shadow;
        position: relative;
        padding: 50px 30px 50px 40px;
        .big-button{
            position: absolute;
            text-align: center;
            top: -12px;
            width: 100%;
            left: 0;
            button{
                background: $bigButtonBg;
                padding: 8px 45px;
                border-radius: 8px;
                border: none;
                margin-top: -20px;
                box-shadow: 0px 15px 30px rgba(255, 56, 16, 0.5);
                a{
                    text-decoration: none;
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
        .social-links{
          .social-line{
              margin-bottom: 10px;
              border: 1px solid $bodyBackgroundColor;
              border-radius: 8px;
              align-items: center;
              padding: 5px 20px 3px 0;
              .icon{
                  margin-right: 6px;
                  width: 60px;
                  margin-left: -25px;
                  img{
                      width: 100%;
                  }
              }
              .open-icon{
                  margin-top: -5px;             }
              .details{
                h5{
                    margin-bottom: 0;
                    font-weight: bold;
                    line-height: 1;
                    font-size: 18px;
                }
                span{
                    font-size: 10px;
                    font-weight: 500;
                }
              }
          }
        }

    }
    
}