@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}

:root {
  --primary-50: #f7faff;
  --primary-100: #cadbff;
  --primary-200: #a5c3ff;
  --primary-300: #6c9dff;
  --primary-400: #447ef2;
  --primary-500: #255ed1;
  --primary-600: #1d4ba9;
  --primary-700: #15316a;
  --blue-grey: #57697d;
  --white:#fff;
}

.text-primary-50 {
  color: var(--primary-50);
}

.bg-primary-50 {
  background-color: var(--primary-50);
}

.text-primary-100 {
  color: var(--primary-100);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.text-primary-200 {
  color: var(--primary-200);
}

.bg-primary-200 {
  background-color: var(--primary-200);
}

.text-primary-300 {
  color: var(--primary-300);
}

.bg-primary-300 {
  background-color: var(--primary-300);
}

.text-primary-400 {
  color: var(--primary-400);
}

.bg-primary-400 {
  background-color: var(--primary-400);
}

.text-primary-500 {
  color: var(--primary-500);
}

.bg-primary-500 {
  background-color: var(--primary-500);
}

.text-primary-600 {
  color: var(--primary-600);
}

.bg-primary-600 {
  background-color: var(--primary-600);
}

.text-primary-700 {
  color: var(--primary-700);
}

.bg-primary-700 {
  background-color: var(--primary-700);
}

.text-blue-grey {
  color: var(--blue-grey);
}

.bg-blue-grey {
  background-color: var(--blue-grey);
}

.text-white {
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

/* Button mixin */
/* Input field Mixin */
.my-button {
  background-color: #447ef2;
  border: none;
  padding: 7px 25px;
  border-radius: 999px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #447ef2;
  position: relative;
  z-index: 1;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.my-button::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 0px;
  left: 0px;
  background: #fff;
  border-radius: inherit;
  z-index: -1;
  transition: 0.3s;
}
.my-button:focus {
  box-shadow: 3px 3px 20px rgba(68, 126, 242, 0.3);
}
.my-button:hover {
  color: #447ef2;
  box-shadow: 3px 3px 20px rgba(68, 126, 242, 0.3);
}
.my-button:hover::after {
  transition: 0s;
  height: 100%;
}
.my-button:active {
  transition: 0s;
  background: rgba(68, 126, 242, 0.7);
  color: #fff;
}
.my-button:active::after {
  display: none;
}

.my-input {
  background: #f7faff;
  border: 3px solid #a5c3ff;
  box-sizing: border-box;
  border-radius: 34.5px;
  font-size: 1rem;
  font-weight: 500;
  color: #57697d;
  transition: 0.3s;
  padding: 5px 10px 5px 20px;
}
.my-input:focus {
  outline: none;
  box-shadow: none;
  caret-color: #255ed1;
  box-shadow: 3px 3px 20px rgba(108, 157, 255, 0.3);
  background: #fff;
  border-color: #a5c3ff;
}
.my-input::placeholder {
  color: rgba(87, 105, 125, 0.7);
}

/*# sourceMappingURL=style.css.map */
